<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-08-05T11:24:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/myhome/Downloads/flutter-lv1-inflearn-v2-main/section_24_video_call/video_call/macos/Runner.xcworkspace</string>
</dict>
</plist>
